{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block title %}{{seo_title}}{% endblock title %}
{% block meta_description %}{{seo_description|safe}}{% endblock meta_description %}
{% block meta_keyword %}{{seo_keywords|safe}}{% endblock meta_keyword %}

{% block content %}
<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Áreas de Atuação</h2>
    </div>
</section>


<!-- subheader -->
<div class="container pt-page-moveFromBottomFade">

    <section id="about" class="section-default section-about">
        <div class="col-md-12">
            <div class="row justify-content-around">
                {% for page in page_content %}
                <div class="col-md-10 col-sm-10">
                    <h1 class="text-uppercase">{{ page.titulo }}</h1>
                    <br>
                    <p class="mt-3">
                        {{ page.texto|safe }}
                    </p>
                    <!--
                    <a href="{% url 'areas' %}" class="mt-3 btn btn-outline-primary btn-md custom-btn">
                        <span>Áreas de Atuação</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>


<!-- areas -->
<section id="areas" class="section-default section-areas top-0 pt-page-moveFromBottomFade">

    <div class="col-md-10 mx-auto">
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                <div class="carousel-item row active">
                {% for area in areas_atuacao %}
                    {% if area.image.url is not None %}
                    <div class="col-md-4 col-6 float-left carousel-snippet" style="background: url({{area.image.url}}) no-repeat center center; background-size: cover;">
                    {% else %}
                    <div class="col-md-4 col-6 float-left carousel-snippet">
                    {% endif %}
                        <figcaption>
                            <h5 class="text-uppercase">{{ area.titulo }}</h5>
                        </figcaption><a href="{{area.get_absolute_url}}"></a>
                    </div>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>

</section>


<!-- cta -->
<section id="cta" class="section-default section-about bg-grey">

    <div class="container pt-page-moveFromBottomFade">
        <div class="col-md-12">
            <div class="row justify-content-around">
                <div class="col-md-7 col-sm-10">
                    <h2 class="text-uppercase">Gostou do que viu?</h2>
                    <h5>Quem sabe não podemos te ajudar? Marque um horário, deixe sua mensagem.</h5>
                </div>
                <div class="col-md-3 col-sm-10 text-right">
                    <a href="{% url 'contato' %}" class="mt-3 btn btn-outline-primary btn-lg custom-btn">
                        <span>Entre em Contato</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}