{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block title %}{{seo_title}}{% endblock title %}
{% block meta_description %}{{seo_description|safe}}{% endblock meta_description %}
{% block meta_keyword %}{{seo_keywords|safe}}{% endblock meta_keyword %}

{% block content %}
<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Artigos</h2>
    </div>
</section>


<!-- articles grid -->
<div class="container pt-page-moveFromBottomFade">

    <section id="about" class="section-default">
        <div class="row justify-content-around">

            <div class="col-md-11 text-center">
                <div class="row justify-content-around">
                    {% for artigo in artigos %}
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <a href="{{artigo.get_absolute_url}}">
                                <div class="team-thumb-hover">
                                    <img class="card-img-top" src="{% thumbnail artigo.image 410x535 box=equipe.cropping crop detail %}">
                                </div>
                                <div class="card-body" style="min-height:310px">
                                    <h5 class="card-title">{{artigo.titulo}}</h5>
                                    <p class="card-text">
                                        {{ artigo.texto|safe|truncatechars:90 }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>

        </div>
    </section>

</div>


<!-- articles list
<div class="container pt-page-moveFromBottomFade">

    <section id="articles" class="section-default top-0">
        <div class="col-md-12">

            <div class="row justify-content-around">

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 5</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 6</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 7</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 8</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 9</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="col-md-5 col-sm-10">
                    <h3>Título do artigo 10</h3>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor...
                    </p>
                    <a href="#" class="mt-3 btn btn-outline-primary btn-sm custom-btn" data-toggle="modal" data-target="#artigosModal">
                        <span>leia mais</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>
                    <hr>
                    <br>
                </div>

            </div>

        </div>
    </section>

</div>

 -->
<!-- areas -->
<section id="areas" class="section-default section-areas bg-grey">
    <div class="col-md-10 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-10 col-sm-10 text-center">
                <h5 class="text-uppercase">Nós temos experiência. Conheça nossas Áreas de Atuação.</h5>
                <br>
            </div>
        </div>
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                {% for area in areas_atuacao %}

                    {% if forloop.first %}
                    <div class="carousel-item row active">
                    {% endif %}

                        {% if area.image %}
                        <div class="col-md-3 col-6 float-left carousel-snippet" style="background: url({{area.image.url}}) no-repeat center center; background-size: cover;">
                        {% else %}
                        <div class="col-md-3 col-6 float-left carousel-snippet">
                        {% endif %}
                            <figcaption>
                                <h5 class="text-uppercase">{{ area.titulo }}</h5>
                            </figcaption><a href="{{ area.get_absolute_url }}"></a>
                        </div>

                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="carousel-item row">
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#areasCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fas fa-chevron-left fa-2x"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#areasCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fas fa-chevron-right fa-2x"></i>
            </span>
        </a>
    </div>
</section>
{% endblock %}
        

