<!doctype html>

<html lang="en">

<head>
    {% for conf in config %}
    {% if conf.cod_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116216715-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config','{{conf.cod_analytics}}');
    </script>
    {% endif %}
    {% endfor %}
    {% load static from staticfiles %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">
    <!-- Favicon -->
    <link rel="icon" href= "{% static 'images/favicon.png' %}" type="image">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href= "{% static 'css/ekko-lightbox.css' %}">
    <!-- Page Transitions -->
    <link rel="stylesheet" href= "{% static 'css/animations.css' %}">
    <!-- Page Transitions -->
    <link rel="stylesheet" href= "{% static 'css/component.css' %}">

    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="keywords" content="{% block meta_keyword %}{% endblock meta_keyword %}">
</head>

<body>
    <div id="pt-main">
        <!-- header mobile -->
        <div class="nav-mobile">

            <div class="container">
                <div class="col-sm-12 col-xs-12">
                    <a class="navbar-brand" href="#"><img src= "{% static 'images/logo.png' %}" width="200"></a>
                </div>
            </div>

            <svg class="menu-svg" fill="#000000" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
            <div class="menu-overlay">
                <div class="menu-plate">
                    <div class="menu-close">
                        <svg fill="#000000" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'sobre' %}">SOBRE NÓS</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'areas' %}">ÁREAS DE ATUAÇÃO</a>
                        </li>
                        <!--
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'clientes' %}">CLIENTES</a>
                        </li>-->
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'equipe' %}">ESTRUTURA E EQUIPE</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'artigos' %}">ARTIGOS</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link" href="{% url 'contato' %}">CONTATO</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        {% if not pagina %}
        <!-- diamond -->
        <div class="diamond-center-page pt-page-rotateCarouselTopIn">
            <img src= "{% static 'images/diamond.png' %}" width="80">
        </div>
        {% else %}
        <!-- diamond -->
        <div class="diamond-center pt-page-rotateCarouselTopIn">
            <img src= "{% static 'images/diamond.png' %}" width="200">
        </div>
        {% endif %}

        <!-- header desktop -->
        <div class="container pt-page-fadeSlow">

            <nav class="navbar navbar-dark navbar-expand-lg nav-desktop">

                <div class="col-md-3">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src= "{% static 'images/logo.png' %}" width="300"></a>
                </div>
                <div class="col-md-7 text-center">
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav custom-menu mx-auto">
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">HOME</a>
                            </li>
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'sobre' %}">SOBRE NÓS</a>
                            </li>
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'areas' %}">ÁREAS DE ATUAÇÃO</a>
                            </li>
                            <!--<li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'clientes' %}">CLIENTES</a>
                            </li>-->
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'equipe' %}">ESTRUTURA E EQUIPE</a>
                            </li>
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'artigos' %}">ARTIGOS</a>
                            </li>
                            <li data-animation="4" class="nav-item">
                                <a class="nav-link" href="{% url 'contato' %}">CONTATO</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    {% for conf in config %}
                    <a href="{{conf.facebook}}"><i class="fab fa-facebook-f mr-2"></i></a>
                    <a href="{{conf.instagram}}"><i class="fab fa-instagram"></i></a>
                    {% endfor %}
                </div>

            </nav>

        </div>

        {% block content %}{% endblock %}

        <!-- clients
        <section id="clients" class="section-clients">

            <div class="container">

                <div class="row">

                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients1Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client1.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client2.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients2Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client2.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client3.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients3Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client3.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client1.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients4Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client1.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client2.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients5Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client2.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client3.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 col-6">

                        <div id="clients6Carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client3.png' %}">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src= "{% static 'images/clients/client1.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>
        -->

        <!-- footer -->
        <footer>

            <div class="row">
                <div class="col-md-5 col-sm-12 text-center">
                    <span>TODOS OS DIREITOS RESERVADOS. MORAIS CANTERO ADVOGADOS ASSOCIADOS.</span>
                </div>
                <div class="col-md-2 col-sm-12 text-center">
                    {% for conf in config %}
                    <a href="{{conf.facebook}}"><i class="fab fa-facebook-f mr-2"></i></a>
                    <a href="{{conf.instagram}}"><i class="fab fa-instagram"></i></a>
                    {% endfor %}
                </div>
                <div class="col-md-5 col-sm-12 text-center">
                    <span><a href="http://kosmostudio.com.br" target="_blank">KOSMO STUDIO</a></span>
                </div>
            </div>

        </footer>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="areasModal" tabindex="-1" role="dialog" aria-labelledby="areasModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="areasModalLabel">Área de Atuação 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-around">
                <div class="col-md-12 col-sm-12">
                    <img src= "{% static 'static/images/about/andrew-neel-108081-unsplash.jpg' %}" width="100%;">
                </div>
                <div class="col-md-12 col-sm-12">
                    <br>
                    <p>
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.<br><br>
                        É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- custom -->
    <script src= "{% static 'js/app.js' %}"></script>
    <!-- lightbox -->
    <script src= "{% static 'js/ekko-lightbox.min.js' %}"></script>
    <!-- page transitions -->
    <script src= "{% static 'js/pagetransitions.js' %}"></script>


</body>

</html>
