{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}
    Morais Cantero - Clientes
{% endblock title %}

{% block content %}
<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Clientes</h2>
    </div>
</section>


<!-- clients -->
<div class="container pt-page-moveFromBottomFade">

    <section id="clients" class="section-default section-about">
        <div class="col-md-12">
            <div class="row justify-content-around">

                <div class="col-md-5 col-sm-6 col-6">

                    <h1 class="text-uppercase">Mais que clientes: Parceiros.</h1>
                    <br>
                    <p class="mt-3">
                        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
                    </p>

                </div>

                <div class="col-md-5 col-sm-6 col-6">

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client1.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client2.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client3.png' %}">
                        </div>

                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client2.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client3.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client1.png' %}">
                        </div>

                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client1.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client2.png' %}">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <img class="d-block w-100" src= "{% static '/images/clients/client3.png' %}">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</div>


<!-- areas -->
<section id="areas" class="section-default section-areas bg-grey">

    <div class="col-md-10 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-10 col-sm-10 text-center">
                <h5 class="text-uppercase">Nós temos experiência. Conheça nossas Áreas de Atuação.</h5>
                <br>
            </div>
        </div>
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                <div class="carousel-item row active">
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/claire-anderson-60670-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 1</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-558597-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 2</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-659501-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 3</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/samson-duborg-rankin-91091-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 4</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/claire-anderson-60670-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 5</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-558597-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 6</h5>
                        </figcaption><a href="#"></a>
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/claire-anderson-60670-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 1</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-558597-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 2</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-659501-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 3</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/samson-duborg-rankin-91091-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 4</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/claire-anderson-60670-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 5</h5>
                        </figcaption><a href="#"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 float-left carousel-snippet" style="background: url(/static/images/areas/rawpixel-558597-unsplash.jpg) no-repeat center center; background-size: cover;">
                        <figcaption>
                            <h5 class="text-uppercase">Área de Atuação 6</h5>
                        </figcaption><a href="#"></a>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#areasCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <i class="fas fa-chevron-left fa-2x"></i>
                </span>
            </a>
            <a class="carousel-control-next" href="#areasCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <i class="fas fa-chevron-right fa-2x"></i>
                </span>
            </a>
        </div>
    </div>

</section>
{% endblock %}