{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}
    Morais Cantero - Contato
{% endblock title %}

{% block content %}

<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Contato</h2>
    </div>
</section>


<!-- subheader -->
<div class="container pt-page-moveFromBottomFade">

    <section id="contact" class="section-default section-about">
        <div class="col-md-12">
            <div class="row justify-content-around">
                <div class="col-md-10 col-sm-10">

                    <!-- map -->
                    <section id="map" class="pt-page-moveFromBottomFade">
                        {% for conf in config %}
                            {{conf.cod_gmaps|safe}}
                        {% endfor %}
                    </section>
                    <br/>
                    <h1 class="text-uppercase">Fale Conosco.</h1>
                    <h4>Envie-nos uma mensagem e tire suas dúvidas.</h4>
                    <br>
                    <form name="contact_form" method="post" action="{% url 'contact_form' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        E-mail</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" id="email" name="email" required="required" /></div>
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Telefone</label>
                                    <input type="text" class="form-control" id="telefone" name="telefone" required="required" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Especialidade de Interesse</label>
                                    <select class="form-control" id="especialidade" name="especialidade" required="required" style="height: calc(3rem + 2px);">
                                        <option value="">SELECIONE</option>
                                        <option value="DIREITO DO SEGURO">DIREITO DO SEGURO</option>
                                        <option value="DIREITO PREVIDENCIÁRIO">DIREITO PREVIDENCIÁRIO</option>
                                        <option value="DIREITO SINDICAL">DIREITO SINDICAL</option>
                                        <option value="SEGMENTO BANCÁRIOS">SEGMENTO BANCÁRIOS</option>
                                        <option value="SEGMENTO ELETRICITÁRIOS">SEGMENTO ELETRICITÁRIOS</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Mensagem</label>
                                    <textarea id="mensagem" name="mensagem" class="form-control" rows="6" cols="25" required="required"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <br>
                                <button type="submit" class="btn btn-primary btn-lg" id="enviar">
                                    Enviar mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}