{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}
    Morais Cantero - Contato
{% endblock title %}

{% block content %}

<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Contato</h2>
    </div>
</section>


<!-- subheader -->
<div class="container pt-page-moveFromBottomFade">
    <div class="content">
        <div id="section-empreendimentos" class="row">
            <div class="col-sm-12">
                <p>E- MAIL ENVIADO COM SUCESSO. <a href="{% url 'home' %}">Voltar para início.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}