{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block title %}{{seo_title}}{% endblock title %}
{% block meta_description %}{{seo_description|safe}}{% endblock meta_description %}
{% block meta_keyword %}{{seo_keywords|safe}}{% endblock meta_keyword %}

{% block content %}

<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Profissionais</h2>
    </div>
</section>


<!-- article page -->
<div class="container pt-page-moveFromBottomFade">
    <section id="articles" class="section-default">
        <div class="col-md-12">
            <div class="row justify-content-around">
                <div class="col-md-5 col-sm-10">
                    <h1 class="text-uppercase">{{ titulo }}</h1>
                    <br>
                    <p class="mt-3">
                        {{ texto|safe }}
                    </p>
                </div>
                {% if image.url is not None %}
                <!--<div class="col-md-5 col-sm-10 image-page" style="background: url({{image.url}}) center center no-repeat; background-size: cover;"></div>-->
                <div class="col-md-5 col-sm-10 image-page">
                    <img class="card-img-top" src="{% thumbnail image 410x535 box=cropping crop detail %}">
                </div>
                {% else %}
                <div class="col-md-5 col-sm-10 image-page"></div>
                {% endif %}
            </div>
        </div>
    </section>

</div>


<!-- areas -->
<section id="areas" class="section-default section-areas bg-grey">

    <div class="col-md-10 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-10 col-sm-10 text-center">
                <h5 class="text-uppercase">Nós temos experiência. Conheça nossas Áreas de Atuação.</h5>
                <br>
            </div>
        </div>
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                <div class="carousel-item row active">
                {% for area in areas_atuacao %}
                    {% if area.image.url is not None %}
                    <div class="col-md-3 col-6 float-left carousel-snippet" style="background: url({{area.image.url}}) no-repeat center center; background-size: cover;">
                    {% else %}
                    <div class="col-md-3 col-6 float-left carousel-snippet">
                    {% endif %}
                        <figcaption>
                            <h5 class="text-uppercase">{{ area.titulo }}</h5>
                        </figcaption><a href="{{ area.get_absolute_url }}"></a>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <a class="carousel-control-prev" href="#areasCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <i class="fas fa-chevron-left fa-2x"></i>
                </span>
            </a>
            <a class="carousel-control-next" href="#areasCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <i class="fas fa-chevron-right fa-2x"></i>
                </span>
            </a>
        </div>
    </div>

</section>


{% endblock %}
