{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block title %}{{seo_title}}{% endblock title %}
{% block meta_description %}{{seo_description|safe}}{% endblock meta_description %}
{% block meta_keyword %}{{seo_keywords|safe}}{% endblock meta_keyword %}

{% block content %}
<!-- slider -->
<section id="slider" class="pt-page-fadeSlow2">
    <div id="slider-container" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
        {% for slider in sliders|slice:":6" %}
            {% if forloop.first %}
            <div class="carousel-item active" style="background: url({{slider.image.url}}) center center no-repeat; background-size: cover;">
            {% else %}
            <div class="carousel-item" style="background: url({{slider.image.url}}) center center no-repeat; background-size: cover;">
            {% endif %}
                <div class="carousel-caption text-center">
                    <h1><a href="{{slider.link_botao}}">{{slider.titulo}}</a></h1>
                    <p>{{slider.subtitulo}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#slider-container" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fas fa-chevron-left fa-2x"></i>
            </span>
            <span class="sr-only">Próximo</span>
        </a>
        <a class="carousel-control-next" href="#slider-container" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fas fa-chevron-right fa-2x"></i>
            </span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</section>


<!-- about -->
<div class="container pt-page-moveFromBottomFade">

    <section id="about" class="section-default section-about">
        <div class="col-md-10 mx-auto">
            <div class="row justify-content-around">
                {% for page in page_content %}
                <div class="col-md-4 col-sm-10">
                    <h6>SOBRE NÓS</h6>
                    <h2>{{ page.titulo }}</h2>
                    <p class="mt-3">{{ page.texto|safe }}</p>
                    <a href="{% url 'sobre' %}" class="mt-3 btn btn-outline-primary btn-md custom-btn">
                        <span>Conheça-nos</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-md-4 col-sm-10 image" style="background:  url({{page.image.url}}) center center no-repeat; background-size: cover;">
                    <!-- image background css with cover mask -->
                    <span class="caption">Foto: Andrew Neel - unsplash.com</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>


<!-- areas -->
<section id="areas" class="section-default section-areas bg-grey">
    <div class="col-md-10 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-10 col-sm-10 text-center">
                <h5 class="text-uppercase">Nós temos experiência. Conheça nossas Áreas de Atuação.</h5>
                <br>
            </div>
        </div>
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                {% for area in areas_atuacao %}

                    {% if forloop.first %}
                    <div class="carousel-item row active">
                    {% endif %}

                        {% if area.image %}
                        <div class="col-md-3 col-6 float-left carousel-snippet" style="background: url({{area.image.url}}) no-repeat center center; background-size: cover;">
                        {% else %}
                        <div class="col-md-3 col-6 float-left carousel-snippet">
                        {% endif %}
                            <figcaption>
                                <h5 class="text-uppercase">{{ area.titulo }}</h5>
                            </figcaption><a href="{{ area.get_absolute_url }}"></a>
                        </div>

                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="carousel-item row">
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#areasCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fas fa-chevron-left fa-2x"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#areasCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fas fa-chevron-right fa-2x"></i>
            </span>
        </a>
    </div>
</section>
{% endblock %}