{% extends 'base.html' %}

{% load staticfiles %}

{% load thumbnail %}

{% block title %}{{seo_title}}{% endblock title %}
{% block meta_description %}{{seo_description|safe}}{% endblock meta_description %}
{% block meta_keyword %}{{seo_keywords|safe}}{% endblock meta_keyword %}

{% block content %}
<!-- header page -->
<section id="slider" class="section-default pt-page-fadeSlow2" style="background: url({% static 'images/bg_header.png' %}) center center no-repeat; background-size: cover;">
    <div class="container text-center">
        <h2 class="text-uppercase">Sobre nós</h2>
    </div>
</section>


<!-- about -->
<div class="container pt-page-moveFromBottomFade">
    <section id="about" class="section-default section-about">
        <div class="col-md-12">
            <div class="row justify-content-around">
                {% for page in page_content %}
                <div class="col-md-5 col-sm-10">
                    <h1 class="text-uppercase">{{ page.titulo }}</h1>
                    <br>
                    <p class="mt-3">
                        {{ page.texto|safe }}
                    </p>
                    <a href="{% url 'areas' %}" class="mt-3 btn btn-outline-primary btn-md custom-btn">
                        <span>Áreas de Atuação</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

                {% if page.image %}
                <div class="col-md-5 col-sm-10 image-page" style="background: url({{page.image.url}}) center center no-repeat; background-size: contain;"></div>
                {% else %}
                <div class="col-md-5 col-sm-10 image-page"></div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </section>

</div>


<!-- team -->
<div class="container pt-page-moveFromBottomFade">
    <section id="about" class="section-default">
        <div class="row justify-content-around">
            <div class="col-md-11 text-center">
                <h5 class="text-uppercase">Equipe de profissionais dispostos a resolver.</h5>
                <br>
                <div class="row justify-content-around">
                    {% for equipe in equipes %}
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="team-thumb-hover">
                                <img class="card-img-top" src="{% thumbnail equipe.image 410x535 box=equipe.cropping crop detail %}">
                                <div class="icons">
                                    <!--
                                    <a href="{{ equipe.facebook }}"><i class="fab fa-facebook"></i></a>
                                    <a href="{{ equipe.instagram }}"><i class="fab fa-instagram"></i></a>

                                    <a href="{{ equipe.linkedin }}"><i class="fab fa-linkedin"></i></a>
                                     -->
                                </div>
                            </div>
                            <div class="card-body" style="min-height:310px">
                                <h5 class="card-title"><a href="{{equipe.get_absolute_url}}">{{ equipe.titulo }}</a></h5>
                                <p class="card-text">
                                    {{ equipe.texto|safe|truncatechars:150 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>


<!-- areas -->
<section id="areas" class="section-default section-areas bg-grey">
    <div class="col-md-10 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-10 col-sm-10 text-center">
                <h5 class="text-uppercase">Nós temos experiência. Conheça nossas Áreas de Atuação.</h5>
                <br>
            </div>
        </div>
        <div id="areasCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                {% for area in areas_atuacao %}

                    {% if forloop.first %}
                    <div class="carousel-item row active">
                    {% endif %}

                        {% if area.image %}
                        <div class="col-md-3 col-6 float-left carousel-snippet" style="background: url({{area.image.url}}) no-repeat center center; background-size: cover;">
                        {% else %}
                        <div class="col-md-3 col-6 float-left carousel-snippet">
                        {% endif %}
                            <figcaption>
                                <h5 class="text-uppercase">{{ area.titulo }}</h5>
                            </figcaption><a href="{{ area.get_absolute_url }}"></a>
                        </div>

                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="carousel-item row">
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev" href="#areasCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fas fa-chevron-left fa-2x"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#areasCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fas fa-chevron-right fa-2x"></i>
            </span>
        </a>
    </div>
</section>
{% endblock %}